/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .dashboard {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-size: 24px;
    color: #007bff;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
  }
  .form-group {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
  }
  
 
  
  input[type="date"] {
    width: 100%;
    max-width: 96%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  input[type="date"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .output {
    margin-top: 10px;
    font-weight: bold;
    color: #28a745;
  }
  
  a {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  